---
import Base from '../layouts/Base.astro'
import LoginForm from '../components/Forms/Login.astro'
import RegisterForm from '../components/Forms/Register.astro'
---

<Base title="TimeGritty">
    <h1>TimeGritty</h1>
    <LoginForm action="/api/login" />
    <RegisterForm action="/api/user" />
</Base>
