---
import Logout from "../components/Forms/Logout.astro";
import Base from "../layouts/Base.astro"
import { TOKEN } from "../utils/constant.ts"
import { neon } from "@neondatabase/serverless"

const user = Astro.locals.authUser
---

<Base>
	<a href="/">Home</a>
	<h1>Here is the protected data {user} enjoy!</h1>
	<Logout />
</Base>
