---
import { Icon } from "astro-icon/components";
---
<form action="/api/logout" method="POST">
    <button type="submit">
        <Icon name="logout"/> 
        <span class="sr-only">Logout</span>
    </button>
</form>